html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* C'est le coup de marteau qui interdit tout scroll */
  background-color: #008080;
  /* On assure le fond vert partout */
}

/* Optionnel : On empêche de surligner le texte du bureau par erreur comme sur un vrai OS */
#root {
  user-select: none;
}